header {
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
    margin: 50px;
}

h1, p {
    padding: 20px;
}

#choices {
    display: block;
    display: none;
}